 <p></p><p></p>
  <h3> Visitas para el Censo X</h3>

 <table class="table table-hover table-striped">
                        <thead>
                        <tr> 
                        	<th>Nombre</th>
                            <th>Fecha</th>
                            <th>Numero nidos</th>
                            <th>Numero nidos ocupados</th>
                            <th>Numero nidos vacios</th>
                            <th>Numero nidos con exito</th>
                            <th>Otras especies?</th>
                            <th>Coordenadas</th>
                            <th>Es un censo completo?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Alvaro</td>
                            <td>02/02/2018</td>
                            <td>10</td>
                            <td>9</td>
                            <td>1</td>
                            <td>-</td>
                            <td>No</td>
                            <td>40.420884, -3.713850</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>usuarioRegistrado1</td>
                            <td>03/02/2018</td>
                            <td>10</td>
                            <td>9</td>
                            <td>1</td>
                            <td>-</td>
                             <td>No</td>
                            <td>40.420884, -3.713850</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Jessica</td>
                            <td>25/02/2018</td>
                            <td>10</td>
                            <td>9</td>
                            <td>1</td>
                            <td>2</td>
                             <td>No</td>
                            <td>40.420884, -3.713850</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Miguel</td>
                            <td>02/03/2018</td>
                            <td>10</td>
                            <td>10</td>
                            <td>0</td>
                            <td>3</td>
                             <td>No</td>
                            <td>40.420884, -3.713850</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>usuarioRegistrado2</td>
                            <td>09/03/2018</td>
                            <td>10</td>
                            <td>10</td>
                            <td>0</td>
                            <td>4</td>
                             <td>No</td>
                            <td>40.420884, -3.713850</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Manolo Garcia</td>
                            <td>10/03/2018</td>
                            <td>10</td>
                            <td>10</td>
                            <td>0</td>
                            <td>6</td>
                             <td>No</td>
                            <td>40.420884, -3.713850</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Eva</td>
                            <td>02/04/2018</td>
                            <td>10</td>
                            <td>10</td>
                            <td>0</td>
                            <td>6</td>
                             <td>No</td>
                            <td>40.420884, -3.713850</td>
                            <td>No</td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn-primary" [routerLink]="['/formNewVisit']">Nueva visita</button>