<nav class="navbar navbar-expand-lg fixed-top">
    <img src="../../../../assets/images/logo_seo.png"/>
    <a class="navbar-brand" [routerLink]="['/selector']" >{{ 'Menu.title' | translate }} </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        
        <ul class="navbar-nav ml-auto">
         <a class="navbar-brand" *ngIf="!selected">{{ 'Header.infoMsg1' | translate }} </a>
         <a class="navbar-brand" *ngIf="selected">{{ 'Header.infoMsg2' | translate }} {{name}}</a>

             <li class="nav-item" >
                <a href="{{url}}" class="nav-link" >
                    <i class="fa fa-user"></i> {{ 'Header.admin' | translate }} <b class="caret"></b>
                </a>
                
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{userName}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" style="width: 300px"  ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ userId }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ userEmail }}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Header.logout' | translate }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Header.language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('gal')">
                        {{ 'Galego' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('cat')">
                        {{ 'Català' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ek')">
                        {{ 'Euskera' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
                        {{ 'Español' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
