  <p style="margin-top:60px;"></p>
<ngx-alerts></ngx-alerts>
<div class="card" >

    <div class="card-header" style="background-color: #A9A9A9">
        {{ 'GeneralTerr.filter' | translate }}
    </div>
    <div class="card-body" style="background-color: #A9A9A9">
        
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'RegisterCol.ccaa' | translate }}</label>
                    <select class="form-control" (change)="recuperaProvincia()" id="selectCCAA" >
                    	<option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                        <option *ngFor="let ccaa of listaCCAA" value="{{ccaa.DEN_COM}}" id="{{ccaa.ID_COM}}">{{ccaa.DEN_COM}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'RegisterCol.prov' | translate }}</label>
                    <select class="form-control"  (change)="recuperaMunicipio()" id="selectProvincia" >
                    	<option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                      	<option *ngFor="let prov of listaProv" value="{{prov.DEN_PROV}}" id="{{prov.ID_PROV}}">{{prov.DEN_PROV}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'RegisterCol.mun' | translate }}</label>
                    <select class="form-control" id="selectMunicipio"  >
                    	<option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                        <option *ngFor="let mun of listaMun" value="{{mun.DEN_POB}}" id="{{mun.ID_POB}}">{{mun.DEN_POB}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
	            <div class="form-group">
	                    <label>{{ 'RegisterCol.temp' | translate }}</label>
	                    <select class="form-control" id="temporada">
	                        <option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
	                        <option *ngFor="let temp of listaTemporadas" value="{{temp}}" id="{{temp}}">{{temp}}</option>
	                    </select>

	                </div>
            </div>
            <div class="col-sm-4">
                <label>{{ 'RegisterCol.tipoEd' | translate }} *</label>
                    <select class="form-control" id="tipoEdificio"  >
                        <option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                        <option *ngFor="let ed of listaTipoEd" value="{{ed.descripcion}}" id="{{ed.id}}">{{ed.descripcion}}</option>
                    </select>
            </div>
	    <div class="col-sm-4">
                <label>{{ 'RegisterCol.tipoProp' | translate }} *</label>
                    <select class="form-control" id="tipoPropiedad"  >
                        <option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                        <option *ngFor="let prop of listaTipoProp" value="{{prop.Description}}" id="{{prop.id}}">{{prop.Description}}</option>
                    </select>
            </div>
        </div>
        <div class="row">
        	<div class="col-sm-12">
        		<button class="btn btn-secondary" (click)="filtrar()">{{ 'GeneralTerr.apply' | translate }}</button>
        	</div>
        </div>
    </div>
    <div class="card-footer" style="font-size: 12px">
        * {{ 'StatisticsNest.infoMsg3' | translate }}
    </div>
    <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>

    

</div>



<ngb-tabset type="pills">
                    <ngb-tab title="{{ 'Statistics.anno' | translate }}">
                        <ng-template ngbTabContent>
                        <div class="row" *ngIf="annoFiltered==false; else filteredAnno">
                            <div class="col-sm-6" *ngFor="let item of listaTemporadas">
		                        <div class="card">
					                <div class="card-header">
					                {{ 'StatisticsNest.data' | translate }} {{item}}
					                </div>
					                <div class="card-body table-responsive">
                                        <div *ngIf="annoChartData[item]!=undefined; else noData">
    					                    <table class="table table-hover table-striped">
    					                        <thead>
    						                        <tr>
    						                        	<th></th>
    						                            <th>{{item}}</th>
    						                        </tr>
    					                        </thead>
    					                        <tbody>
    						                        <tr>
    												    <td>{{ 'StatisticsNest.numNest' | translate }}</td>
    												    <td> {{annoChartData[item]['0'].data['0']}}</td> 
    												</tr>
    												<tr>
    												    <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
    												    <td>{{annoChartData[item]['0'].data['1']}}</td> 
    												</tr>
    												<tr>
    												    <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
    												    <td>{{annoChartData[item]['0'].data['2']}}</td> 
    												</tr>
    												<tr>
    												    <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
    												    <td>{{annoChartData[item]['0'].data['3']}}</td> 
    												</tr>
    					                        </tbody>
    					                        </table>
                                        </div>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
					                </div>
					            </div>

                                <div class="card" >
                                    <div class="card-header">
                                        {{ 'StatisticsNest.chart' | translate }} {{item}}
                                    </div>
                                    <div class="card-body">
                                      
                                         <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="annoChartData[item]!=undefined; else noData" baseChart [datasets]="annoChartData[item]" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #filteredAnno>
                            <div class="row">
                                <div class="col-sm-12"  >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.data' | translate }} {{annoSelected}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="annoChartDataFiltered[0]!=undefined; else noDataFiltered">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{annoSelected}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{annoChartDataFiltered['0']['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{annoChartDataFiltered['0']['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{annoChartDataFiltered['0']['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{annoChartDataFiltered['0']['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noDataFiltered>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{annoSelected}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="annoChartDataFiltered['0']!=undefined; else noData" baseChart [datasets]="annoChartDataFiltered['0']" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="{{ 'Statistics.ccaa' | translate }}">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="ccaaFiltered==false; else filteredCcaa">
                                <div class="col-sm-6" *ngFor="let item of listaCCAA" >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.data' | translate }} {{item.DEN_COM}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="ccaaChartData[item.DEN_COM]!=undefined; else noData">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{item.DEN_COM}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{ccaaChartData[item.DEN_COM]['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{ccaaChartData[item.DEN_COM]['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{ccaaChartData[item.DEN_COM]['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{ccaaChartData[item.DEN_COM]['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{item.DEN_COM}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="ccaaChartData[item.DEN_COM]!=undefined; else noData" baseChart [datasets]="ccaaChartData[item.DEN_COM]" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <ng-template #filteredCcaa>
                            <div class="row">
                                <div class="col-sm-12"  >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.data' | translate }} {{ccaaSelected}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="ccaaChartDataFiltered[0]!=undefined; else noDataFiltered">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{ccaaSelected}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{ccaaChartDataFiltered['0']['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{ccaaChartDataFiltered['0']['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{ccaaChartDataFiltered['0']['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{ccaaChartDataFiltered['0']['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noDataFiltered>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{ccaaSelected}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="ccaaChartDataFiltered['0']!=undefined; else noData" baseChart [datasets]="ccaaChartDataFiltered['0']" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="{{ 'Statistics.prov' | translate }}" [disabled]="disableProv==true" >
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="provFiltered==false; else filteredProv">
                                <div class="col-sm-6" *ngFor="let item of listaProv" >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.data' | translate }} {{item.DEN_PROV}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="provChartData[item.DEN_PROV]!=undefined; else noData">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{item.DEN_PROV}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{provChartData[item.DEN_PROV]['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{provChartData[item.DEN_PROV]['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{provChartData[item.DEN_PROV]['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{provChartData[item.DEN_PROV]['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{item.DEN_PROV}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="provChartData[item.DEN_PROV]!=undefined; else noData" baseChart [datasets]="provChartData[item.DEN_PROV]" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <ng-template #filteredProv>
                            <div class="row">
                                <div class="col-sm-12"  >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.data' | translate }} {{provSelected}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="provChartDataFiltered[0]!=undefined; else noDataFiltered">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{provSelected}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{provChartDataFiltered['0']['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{provChartDataFiltered['0']['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{provChartDataFiltered['0']['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{provChartDataFiltered['0']['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noDataFiltered>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{provSelected}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="provChartDataFiltered['0']!=undefined; else noData" baseChart [datasets]="provChartDataFiltered['0']" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="{{ 'StatisticsNest.byMun' | translate }}" [disabled]="disableMun==true" >
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="munFiltered==false; else filteredMun">
                                <div class="col-sm-12" >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.data' | translate }} {{provSelected}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>{{ 'StatisticsNest.mun' | translate }}</th>
                                                            <th>{{ 'StatisticsNest.numNest' | translate }}</th>
                                                            <th>{{ 'StatisticsNest.numTaken' | translate }}</th>
                                                            <th>{{ 'StatisticsNest.numEmpty' | translate }}</th>
                                                            <th>{{ 'StatisticsNest.numSuccess' | translate }}</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of listaMun" >

                                                         
                                                                <td>{{item.DEN_POB}}</td>
                                                                <td *ngIf="munChartData[item.DEN_POB]!=undefined">
                                                                    {{munChartData[item.DEN_POB]['0'].data['0']}}</td> 
                                                                <td *ngIf="munChartData[item.DEN_POB]!=undefined">
                                                                    {{munChartData[item.DEN_POB]['0'].data['1']}}</td> 
                                                                <td *ngIf="munChartData[item.DEN_POB]!=undefined">
                                                                    {{munChartData[item.DEN_POB]['0'].data['2']}}</td> 
                                                                <td *ngIf="munChartData[item.DEN_POB]!=undefined">
                                                                    {{munChartData[item.DEN_POB]['0'].data['3']}}</td> 

                                                                <td *ngIf="munChartData[item.DEN_POB]==undefined">0</td> 
                                                                <td *ngIf="munChartData[item.DEN_POB]==undefined">0</td> 
                                                                <td *ngIf="munChartData[item.DEN_POB]==undefined">0</td> 
                                                                <td *ngIf="munChartData[item.DEN_POB]==undefined">0</td> 
                                                           

                                                        </tr>
                                                        
                                                    </tbody>
                                                    </table>
                                            
                                            
                                        </div>
                                    </div>

                                    
                                </div>

                            </div>
                            <ng-template #filteredMun>
                            <div class="row">
                                <div class="col-sm-12"  >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.data' | translate }} {{munSelected}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="munChartDataFiltered[0]!=undefined; else noDataFiltered">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{munSelected}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{munChartDataFiltered['0']['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{munChartDataFiltered['0']['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{munChartDataFiltered['0']['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{munChartDataFiltered['0']['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noDataFiltered>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{munSelected}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="munChartDataFiltered['0']!=undefined; else noData" baseChart [datasets]="munChartDataFiltered['0']" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="{{ 'StatisticsNest.byTipoEd' | translate }}">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="tipoEdFiltered==false; else filteredTipoEd">
                                <div class="col-sm-6" *ngFor="let item of listaTipoEd" >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.dataTipoEd' | translate }} {{item.descripcion}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="tipoEdChartData[item.descripcion]!=undefined; else noData">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{item.descipcion}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{tipoEdChartData[item.descripcion]['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{tipoEdChartData[item.descripcion]['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{tipoEdChartData[item.descripcion]['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{tipoEdChartData[item.descripcion]['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{item.descripcion}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="tipoEdChartData[item.descripcion]!=undefined; else noData" baseChart [datasets]="tipoEdChartData[item.descripcion]" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <ng-template #filteredTipoEd>
                            <div class="row">
                                <div class="col-sm-12"  >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.dataTipoEd' | translate }} {{tipoEdSelected}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="tipoEdChartDataFiltered[0]!=undefined; else noDataFiltered">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{tipoEdSelected}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{tipoEdChartDataFiltered['0']['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{tipoEdChartDataFiltered['0']['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{tipoEdChartDataFiltered['0']['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{tipoEdChartDataFiltered['0']['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noDataFiltered>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{tipoEdSelected}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="tipoEdChartDataFiltered['0']!=undefined; else noData" baseChart [datasets]="tipoEdChartDataFiltered['0']" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
		   <ngb-tab title="{{ 'StatisticsNest.byTipoProp' | translate }}">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="tipoPropFiltered==false; else filteredTipoProp">
                                <div class="col-sm-6" *ngFor="let item of listaTipoProp" >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.dataTipoEd' | translate }} {{item.descripcion}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="tipoPropChartData[item.Description]!=undefined; else noData">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{item.Description}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{tipoPropChartData[item.Description]['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{tipoPropChartData[item.Description]['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{tipoPropChartData[item.Description]['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{tipoPropChartData[item.Description]['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{item.Description}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="tipoPropChartData[item.Description]!=undefined; else noData" baseChart [datasets]="tipoPropChartData[item.descripcion]" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <ng-template #filteredTipoProp>
                            <div class="row">
                                <div class="col-sm-12"  >
                                    <div class="card">
                                        <div class="card-header">
                                        {{ 'StatisticsNest.dataTipoEd' | translate }} {{tipoPropSelected}}
                                        </div>
                                        <div class="card-body table-responsive">
                                            <div *ngIf="tipoPropChartDataFiltered[0]!=undefined; else noDataFiltered">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>{{tipoPropSelected}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numNest' | translate }}</td>
                                                            <td>{{tipoPropChartDataFiltered['0']['0'].data['0']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numTaken' | translate }}</td>
                                                            <td>{{tipoPropChartDataFiltered['0']['0'].data['1']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numEmpty' | translate }}</td>
                                                            <td>{{tipoPropChartDataFiltered['0']['0'].data['2']}}</td> 
                                                        </tr>
                                                        <tr>
                                                            <td>{{ 'StatisticsNest.numSuccess' | translate }}</td>
                                                            <td>{{tipoPropChartDataFiltered['0']['0'].data['3']}}</td> 
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                            </div>
                                            <ng-template #noDataFiltered>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="card" >
                                        <div class="card-header">
                                            {{ 'StatisticsNest.chart' | translate }} {{tipoPropSelected}}
                                        </div>
                                        <div class="card-body">
                                          
                                            <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
                                           <canvas *ngIf="tipoPropChartDataFiltered['0']!=undefined; else noData" baseChart [datasets]="tipoPropChartDataFiltered['0']" [labels]="labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartTypeH" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                            </canvas>
                                            <ng-template #noData>
                                              {{ 'StatisticsNest.noData' | translate }}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
    </ngb-tabset>
