 <p style="margin-top:40px;"></p>




 <div class="row" *ngFor="let item of listaColonias" style="margin-top:15px;margin-bottom:15px;">

<!-- este modal ya venia en la version original de la template-->
 <ng-template #content let-c="close" let-d="dismiss" >
                        <div class="modal-header" >
                            <h4 class="modal-title">{{item.nombre}}</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >

                            
                            <div class="row">
                                <div class="col-md-6">
                                    <agm-map [latitude]="item.locNidos.lat" [longitude]="item.locNidos.lon">
                                      <agm-marker [latitude]="item.locNidos.lat" [longitude]="item.locNidos.lon">
                                        <agm-info-window>{{item.nombre}}</agm-info-window>
                                      </agm-marker>

                                    </agm-map>
                                </div>
                                <div class="col-md-6">
                                <p>Hola</p>
                                <p>Adios</p>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                        </div>
                        </ng-template>


    <div class="col-sm-12">


        <div class="card">
         <button class="transparentButton" (click)="openWindowCustomClass(content)"> 

            <div class="card-header">{{item.nombre}}
            </div>

            <!-- Large modal -->
            <div class="card-body">
                {{item.nombre}}
            </div>
        </button>
    </div>


</div>

</div> 

                    

                    <ngb-pagination [collectionSize]="totalPages" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="pageChanged($event)">
                    </ngb-pagination>






