 <p></p><p></p>
 <table class="table table-hover table-striped">
                        <thead>
                        <tr> <th>Nombre</th>
                            <th>Comunidad Autonoma</th>
                            <th>Provincia</th>
                            <th>Municipio</th>
                            <th>Temporada</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Colonia 1</td>
                            <td>Galicia</td>
                            <td>A Coruña</td>
                            <td>A Coruña</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>Colonia 2</td>
                            <td>Galicia</td>
                            <td>A Coruña</td>
                            <td>A Coruña</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>Colonia 3</td>
                            <td>Galicia</td>
                            <td>A Coruña</td>
                            <td>A Coruña</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>Colonia 4</td>
                            <td>Galicia</td>
                            <td>A Coruña</td>
                            <td>Ferrol</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>Colonia 5 </td>
                            <td>Galicia</td>
                            <td>A Coruña</td>
                            <td>Carballo</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>Colonia 6</td>
                            <td>Galicia</td>
                            <td>A Coruña</td>
                            <td>Arteixo</td>
                           <td>2018</td>
                        </tr>
                        <tr>
                            <td>Colonia 7</td>
                            <td>Galicia</td>
                            <td>A Coruña</td>
                            <td>Naron</td>
                           <td>2018</td>
                        </tr>
                        </tbody>
                    </table>