<div class="login-page" [@routerTransition]>
<ngx-alerts></ngx-alerts>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>{{ 'Login.welcome' | translate }}</h1>
            <form role="form" id="loginForm" >
                <div class="form-content">
                    <div class="form-group" >
                        <input type="text"  class="form-control input-underline input-lg" id="tbxUser" name="_username" placeholder="{{ 'Login.email' | translate }}">
                    </div>

                    <div class="form-group" >
                        <input type="text" class="form-control input-underline input-lg" id="tbxPass" name="_password" placeholder="{{ 'Login.password' | translate }}">
                    </div>

                

                </div>
                <a class="btn rounded-btn"  (click)="onLoggedin()"> {{ 'Login.in' | translate }} </a>

               
                <p></p>
                <h5 *ngIf="isAnonymous">{{ 'Login.msg1' | translate }}</h5>
                <h5 *ngIf="isAnonymous">{{ 'Login.msg2' | translate }}</h5>
                <p></p>
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Login.register' | translate }}</a>
            </form>

            


        </div>
    </div>

<!--<form name="frmUsuario" method="POST">
        <input id="tbxUser" type="text" />
        <input id="tbxPass" type="text"/>
        <input type="button" value="Buscar ALIAS/CLAVE"  (click)="abrirVentana(0);">
        <br/>
        <input id="tbxID" type="text"/>
        <input type="button" value="Buscar ID"  (click)="abrirVentana(1);">

        <div id="iframe" class="clear" style="visibility:hidden;"></div>

    </form>-->


   <!-- <iframe src="http://localhost:8000/api/login/"></iframe>-->
<button (click)="console()">PRUEBA</button>
</div>
