<div [@routerTransition]>
<div class="row" style="margin-top:10%;margin-left:20%">
         <div class="col-sm-4">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">
                <div class="card-header">{{ 'Menu.col' | translate }}</div>
                <div class="card-body">
                     <ul class="list-group">
                        <li class="list-group-item" style="color:#1d5d83">Avión común</li>
                        <li class="list-group-item" style="color:#1d5d83">Avión roquero</li>
                        <li class="list-group-item" style="color:#1d5d83">Cigüeña blanca</li>
                        <li class="list-group-item" style="color:#1d5d83">Golondrina común</li>
                        <li class="list-group-item" style="color:#1d5d83">Vencejo común</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión común</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión moruno</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión molinero</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión chillón</li>
                        <li class="list-group-item" style="color:#1d5d83">Cotoraa gris argentina</li>
                        <li class="list-group-item" style="color:#1d5d83">Cotorra de kramer</li>
                        <li class="list-group-item" style="color:#1d5d83">Estornino negro</li>
                        <li class="list-group-item" style="color:#1d5d83">Estornino pinto</li>
                        <li class="list-group-item" style="color:#1d5d83">Gaviota patiamarilla</li>
                        <li class="list-group-item" style="color:#1d5d83">Paloma doméstica</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">
                <div class="card-header">{{ 'Menu.terr' | translate }}</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" style="color:#1d5d83">Cernícalo común</li>
                        <li class="list-group-item" style="color:#1d5d83">Halcón peregrino</li>
                        <li class="list-group-item" style="color:#1d5d83">Búho real</li>
                        <li class="list-group-item" style="color:#1d5d83">Colirrojo tizón</li>
                        <li class="list-group-item" style="color:#1d5d83">Mirlo</li>
                        <li class="list-group-item" style="color:#1d5d83">Carbonero común</li>
                        <li class="list-group-item" style="color:#1d5d83">Carbonero garrapinos</li>
                        <li class="list-group-item" style="color:#1d5d83">Paloma torcaz</li>
                        <li class="list-group-item" style="color:#1d5d83">Paloma zurita</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
</div>
