
    <div class="row" style="margin-top:2.5%">
        <!-- <div class="col-sm-3">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">
                <div class="card-header">{{ 'Menu.col' | translate }}</div>
                <div class="card-body">
                     <ul class="list-group">
                        <li class="list-group-item" style="color:#1d5d83">Avión común</li>
                        <li class="list-group-item" style="color:#1d5d83">Avión roquero</li>
                        <li class="list-group-item" style="color:#1d5d83">Cigüeña blanca</li>
                        <li class="list-group-item" style="color:#1d5d83">Golondrina común</li>
                        <li class="list-group-item" style="color:#1d5d83">Vencejo común</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión común</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión moruno</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión molinero</li>
                        <li class="list-group-item" style="color:#1d5d83">Gorrión chillón</li>
                        <li class="list-group-item" style="color:#1d5d83">Cotorra gris argentina</li>
                        <li class="list-group-item" style="color:#1d5d83">Cotorra de kramer</li>
                        <li class="list-group-item" style="color:#1d5d83">Estornino negro</li>
                        <li class="list-group-item" style="color:#1d5d83">Estornino pinto</li>
                        <li class="list-group-item" style="color:#1d5d83">Gaviota patiamarilla</li>
                        <li class="list-group-item" style="color:#1d5d83">Paloma doméstica</li>
                    </ul>
                </div>
            </div>
        </div>-->
        <!--<div class="col-sm-3">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">
                <div class="card-header">{{ 'Menu.terr' | translate }}</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" style="color:#1d5d83">Cernícalo común</li>
                        <li class="list-group-item" style="color:#1d5d83">Halcón peregrino</li>
                        <li class="list-group-item" style="color:#1d5d83">Búho real</li>
                        <li class="list-group-item" style="color:#1d5d83">Colirrojo tizón</li>
                        <li class="list-group-item" style="color:#1d5d83">Mirlo</li>
                        <li class="list-group-item" style="color:#1d5d83">Carbonero común</li>
                        <li class="list-group-item" style="color:#1d5d83">Carbonero garrapinos</li>
                        <li class="list-group-item" style="color:#1d5d83">Paloma torcaz</li>
                        <li class="list-group-item" style="color:#1d5d83">Paloma zurita</li>
                    </ul>
                </div>
            </div>
        </div>-->
        <div class="col-sm-3" style="height: 100px">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">

                <img src= 'assets/images/avionRoqueroUsoComercial.jpg' style="max-width:100%;max-height: :100%"/>

                <div class="card-footer">
                    Avion comun
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">

             <img src= 'assets/images/avionRoqueroUsoComercial.jpg' style="max-width:100%;max-height: :100%" />

             <div class="card-footer">
                Avion roquero
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

            <img src= 'assets/images/cigueña1Com.jpg' style="max-width:100%;max-height: :100%"/>

            <div class="card-footer">
                Cigueña blanca
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/golondrina2Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Golondrina comun
        </div>
        </div>
    </div>
    <div class="col-sm-3" style="height: 100px">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">

                <img src= 'assets/images/avionRoqueroUsoComercial.jpg' style="max-width:100%;max-height: :100%"/>

                <div class="card-footer">
                    Vencejo comun
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-white  mb-3" style="background-color: #1d5d83">

             <img src= 'assets/images/gorrionComun1Com.jpg' style="max-width:100%;max-height: :100%" />

             <div class="card-footer">
                Gorrion comun
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

            <img src= 'assets/images/cigueña1Com.jpg' style="max-width:100%;max-height: :100%"/>

            <div class="card-footer">
                Gorrion moruno
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/molinero1Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Gorrion molinero
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/molinero1Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Gorrion chillon
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/molinero1Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Cotorra gris argentina
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/kramer1Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Cotorra de kramer
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/molinero1Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Estornino negro
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/pinto1Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Estornino pinto
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/faviota1Com.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Gaviota patiamarilla
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white  mb-3" style="background-color: #1d5d83">

        <img src= 'assets/images/palomaCom.jpg' style="max-width:100%;max-height: :100px"/>

           <div class="card-footer">
            Paloma doméstica
        </div>
        </div>
    </div>

</div>

