<div class="login-page" >
    <div class="row justify-content-md-center">
        <div class="col-md-4" style="padding-bottom: 50px">
           
            <h1>Selecciona el tipo de censo</h1>

        </div>
       
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-4" style="margin-right: -30px">
         <a class="btn rounded-btn" [routerLink]="['/dashboard']" > Aves coloniales 
           	<img src="assets/images/gorrion.png" width="150px"/></a>
           	</div>
          <div class="col-md-4" style="margin-left: -30px">
          	 <a class="btn rounded-btn" [routerLink]="['/dashboardTerr']">Aves no coloniales
            <img src="assets/images/cernicalo.png" width="150px"  /></a>
          </div>
    </div>
</div>