<agm-map [latitude]=40.424818 [longitude]=-3.742133>
  <agm-marker [latitude]=40.424818 [longitude]=-3.742133>
  	<agm-info-window>Censo 1
  		<p></p>
  		<button [routerLink]="['/visitProfile']">Seleccionar</button>
  	</agm-info-window>
  </agm-marker>
  <agm-marker [latitude]=40.427552 [longitude]=-3.712490>
  	<agm-info-window>Censo 3
  		<p></p>
  		<button [routerLink]="['/visitProfile']">Seleccionar</button>
  	</agm-info-window>
  </agm-marker>
  <agm-marker [latitude]=40.420884 [longitude]=-3.713850>
  	<agm-info-window>Censo 2
  		<p></p>
  		<button [routerLink]="['/visitProfile']">Seleccionar</button>
  	</agm-info-window>
  </agm-marker>

</agm-map>