  <p style="margin-top:80px;"></p>
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>
<ngx-alerts></ngx-alerts>
<form role="form" [formGroup]="registerForm" (ngSubmit)="registrarColonia()">
<aw-wizard #wizard  [navBarLayout]="'large-filled-symbols'">





    <aw-wizard-step stepTitle="{{ 'RegisterCol.step1Title' | translate }}" [navigationSymbol]="{ symbol: '&#xf0ca;', fontFamily: 'FontAwesome' }">
    
                <div class="form-group"  >
                    <label>{{ 'RegisterCol.name' | translate }} *</label>
                    <input class="form-control" placeholder="Enter text" formControlName="nombre" >
                </div>
                <div class="form-group">
                    <label>{{ 'RegisterCol.centerName' | translate }} *</label>
                    <input class="form-control" placeholder="Enter text" formControlName="nombreCentro" >
                </div>

                <div class="form-group">
                    <label>{{ 'RegisterCol.ccaa' | translate }} *</label>
                    <select class="form-control" formControlName="ccaa"  (change)="recuperaProvincia()" id="selectCCAA" >
                        <option *ngFor="let ccaa of listaCCAA" value="{{ccaa.DEN_COM}}" id="{{ccaa.ID_COM}}">{{ccaa.DEN_COM}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>{{ 'RegisterCol.prov' | translate }} *</label>
                    <select class="form-control"  formControlName="provincia"  (change)="recuperaMunicipio()" id="selectProvincia" >
                      <option *ngFor="let prov of listaProv" value="{{prov.DEN_PROV}}" id="{{prov.ID_PROV}}">{{prov.DEN_PROV}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>{{ 'RegisterCol.mun' | translate }} *</label>
                    <select class="form-control"  formControlName="municipio"  >
                        <option *ngFor="let mun of listaMun" value="{{mun.DEN_POB}}" id="{{mun.ID_POB}}">{{mun.DEN_POB}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ 'RegisterCol.street' | translate }} *</label>
                    <input class="form-control" placeholder="Enter text" formControlName="barrio">
                </div>
                <div class="form-group">
                    <label>{{ 'RegisterCol.address' | translate }} *</label>
                    <input class="form-control" placeholder="Enter text" formControlName="calleNumPiso">
                </div>
                <div class="form-group">
                    <label>{{ 'RegisterCol.tipoProp' | translate }} *</label>
                    <select class="form-control"  formControlName="tipoPropiedad" >
                        <option *ngFor="let prop of listaTipoProp" value="{{prop.id}}" id="{{prop.id}}">{{prop.Description}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>{{ 'RegisterCol.tipoEd' | translate }} *</label>
                    <select class="form-control"  formControlName="tipoEdificio"  >
                        <option *ngFor="let ed of listaTipoEd" value="{{ed.id}}" id="{{ed.id}}">{{ed.descripcion}}</option>
                    </select>
                </div>

                 <div class="form-group">
                    <label>{{ 'RegisterCol.temp' | translate }} *</label>
                    <select class="form-control"  formControlName="temporada" >
                        
                        <option *ngFor="let temp of listaTemporadas" value="{{temp}}" id="{{temp}}">{{temp}}</option>
                    </select>

                </div>
        <p style="color:red">{{ 'RegisterCol.step1Msg' | translate }}</p>
        <button type="button" awNextStep>{{ 'RegisterCol.next' | translate }}</button>
    </aw-wizard-step>




                 
    <aw-wizard-step stepTitle="{{ 'RegisterCol.step2Title' | translate }}"  [navigationSymbol]="{ symbol: '&#xf1bb;', fontFamily: 'FontAwesome' }">
        
        <div class="form-group">
                    
             <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.locNidos' | translate }}</p>
              <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.step2Msg' | translate }}</p>      
                   
            <p style="text-align: left;font-size: large;" >
                <input type="checkbox" id="fachada">{{ 'RegisterCol.fachada' | translate }}</p>
            <p style="text-align: left;font-size: large;" >
                <input type="checkbox" id="trasera">{{ 'RegisterCol.trasera' | translate }}</p>
            <p style="text-align: left;font-size: large;" >
                <input type="checkbox" id="latDer">{{ 'RegisterCol.latDer' | translate }}</p>
            <p style="text-align: left;font-size: large;" >
                <input type="checkbox" id="latIzq">{{ 'RegisterCol.latIzq' | translate }}</p>
            <p style="text-align: left;font-size: large;" >
                <input type="checkbox" id="patio">{{ 'RegisterCol.patio' | translate }}</p>
        </div>


<agm-map [latitude]="latitude" [longitude]="longitude" style="height: 300px" (mapClick)="placeMarker($event)">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
</agm-map>

        <button type="button" awPreviousStep>{{ 'RegisterCol.back' | translate }}</button>
        <button type="button" awNextStep>{{ 'RegisterCol.next' | translate }}</button>
    </aw-wizard-step>

             



                
    <aw-wizard-step stepTitle="{{ 'RegisterCol.step3Title' | translate }}" [navigationSymbol]="{ symbol: '&#xf067;', fontFamily: 'FontAwesome' }">

                 <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.otras' | translate }} </p>

                 

                <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.step3Msg2' | translate }} </p>
                <div >
                    <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.step3Msg' | translate }}</p> 
                    <p style="text-align: left;font-size: large;" *ngFor="let col of listaCol"  >
                        <input type="checkbox" class="radio"id="{{col.ID_ESP}}" >{{col.DEN_ESP_CAS}}
                    </p>
                </div>
                   
               


                 
        <button type="button" awPreviousStep>{{ 'RegisterCol.back' | translate }}</button>
        <button type="button" awNextStep (click)="prepararDatos()">{{ 'RegisterCol.next' | translate }}</button>
    </aw-wizard-step>
                 



    <aw-wizard-step stepTitle="{{ 'RegisterCol.step4Title' | translate }}" [navigationSymbol]="{ symbol: '&#xf15c;', fontFamily: 'FontAwesome' }" >
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.step4Msg' | translate }} </p>



        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.step1Title' | translate }} </p>

        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.name' | translate }} *: {{colonia.nombre}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.centerName' | translate }} *: {{colonia.nombreCentro}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.ccaa' | translate }} *: {{colonia.ccaa}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.prov' | translate }} *: {{colonia.provincia}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.mun' | translate }} *: {{colonia.municipio}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.street' | translate }} *: {{colonia.barrio}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.address' | translate }} *: {{colonia.calleNumPiso}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.tipoProp' | translate }} *: {{colonia.tipoPropiedad}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.tipoEd' | translate }} *: {{colonia.tipoEdificio}}</p>
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.temp' | translate }} *: {{colonia.temporada}}</p>
          
        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.step2Title' | translate }} </p>      
        <p style="text-align: left;font-size: large;" *ngFor="let sitio of listaNidos">{{sitio}}</p>      
        

        <p style="text-align: center;font-size: large;" >{{ 'RegisterCol.step3Title' | translate }} </p>  
        <p style="text-align: left;font-size: large;" *ngFor="let especie of listaEspeciesNombres">{{especie}}</p> 






        <button type="submit" [disabled]="registerForm.invalid && markers.length<=0" class="btn btn-secondary" >{{ 'RegisterCol.submitMsg' | translate }}</button>

        <button type="button" awPreviousStep>{{ 'RegisterCol.back' | translate }}</button>

    </aw-wizard-step>
  
</aw-wizard>

     </form>