<form role="form">
               <p></p><p></p>

                <fieldset class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Nombre del centro</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>


                <div class="form-group">
                    <label>Comunidad autonoma</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Provincia</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Municipio</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <fieldset class="form-group">
                    <label>Barrio</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Calle numero y piso</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <div class="form-group">
                    <label>Tipo de propiedad</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Tipo de edificio</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                 <div class="form-group">
                    <label>Localización de los nidos</label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Fachada
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Trasera
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Lateral derecho
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Lateral izquierdo
                    </label>
                </div>

                <div class="form-group">
                    <label>Temporada</label>
                    <select class="form-control">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-secondary">Submit Button</button>
                <button type="reset" class="btn btn-secondary">Reset Button</button>

            </form>