<div class="login-page" style="background-color: #FFFFFF">
    <div class="row justify-content-md-center" >
        <div class="col-md-8">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1 style="color: blue">{{ 'Register.title' | translate }}</h1>
            <p style="color: blue">{{ 'Register.infoMsg1' | translate }} <a  [routerLink]="['/login']">{{ 'Register.infoMsg2' | translate }} </a></p>
            
                
	          

			<div id="iframe" class="clear" ></div>
				
	    </div>
    </div>
</div>
