  <p style="margin-top:40px;"></p>

<div class="card" *ngIf="showCol==true">

    <div class="card-header" style="background-color: #A9A9A9">
        {{ 'ViewVisits.filter' | translate }}
    </div>
    <div class="card-body" style="background-color: #A9A9A9">
        
        <div class="row">
            <div class="col-sm-4">
                {{ 'ViewVisits.nameFilter' | translate }}
                <select (change)="filtrar()" id="colonia" >
                        <option selected value="all" id="all">{{ 'ViewVisits.all' | translate }} </option>
                        <option *ngFor="let item of colonias" value="{{item.id}}" id="{{item.id}}">{{item.nombre}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                {{ 'ViewVisits.dateFilter' | translate }}
                <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{ 'ViewVisits.since' | translate }}"
                                name="dp" [(ngModel)]="dateSince" ngbDatepicker #s="ngbDatepicker">
                            <button class="transparentButton" (click)="s.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                </div>
                <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{ 'ViewVisits.until' | translate }}"
                                name="dp" [(ngModel)]="dateUntil" ngbDatepicker #u="ngbDatepicker">
                            <button class="transparentButton" (click)="u.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                </div>
                <button class="btn btn-secondary" (click)="filtrar()">{{ 'ViewVisits.apply' | translate }}</button>
                <button class="btn btn-secondary" (click)="limpiar()">{{ 'ViewVisits.clean' | translate }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ 'ViewVisits.show' | translate }}
                <button class="btn btn-secondary" (click)="showCol=true">
                {{ 'ViewVisits.col' | translate }}
                </button> 
                <button class="btn btn-secondary" (click)="showCol=false">
                {{ 'ViewVisits.terr' | translate }}
                </button> 
            </div>
        </div>
    </div>



</div>

<div class="card" *ngIf="showCol==false">

    <div class="card-header" style="background-color: #A9A9A9">
        {{ 'ViewVisits.filterTerr' | translate }}
         
    </div>
    <div class="card-body" style="background-color: #A9A9A9">
        
        <div class="row">
            <div class="col-sm-4">
                {{ 'ViewVisits.nameFilter' | translate }}
                <select (change)="filtrarTerr()" id="territorio" >
                        <option selected value="all" id="all">{{ 'ViewVisits.allTerr' | translate }} </option>
                        <option *ngFor="let item of territorios" value="{{item.id}}" id="{{item.id}}">{{item.nombre}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                {{ 'ViewVisits.dateFilter' | translate }}
                <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{ 'ViewVisits.since' | translate }}"
                                name="dp" [(ngModel)]="dateSince" ngbDatepicker #s="ngbDatepicker">
                            <button class="transparentButton" (click)="s.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                </div>
                <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{ 'ViewVisits.until' | translate }}"
                                name="dp" [(ngModel)]="dateUntil" ngbDatepicker #u="ngbDatepicker">
                            <button class="transparentButton" (click)="u.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                </div>
                <button class="btn btn-secondary" (click)="filtrarTerr()">{{ 'ViewVisits.apply' | translate }}</button>
                <button class="btn btn-secondary" (click)="limpiar()">{{ 'ViewVisits.clean' | translate }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ 'ViewVisits.show' | translate }}
                <button class="btn btn-secondary" (click)="showCol=true">
                {{ 'ViewVisits.col' | translate }}
                </button> 
                <button class="btn btn-secondary" (click)="showCol=false">
                {{ 'ViewVisits.terr' | translate }}
                </button> 
            </div>
        </div>
    </div>



</div>

<div class="row">
        <div class="col-sm-12" *ngIf="showCol==true">
           
            <div class="card">
                <div class="card-header">
                {{ 'ViewVisits.colVisits' | translate }}
                 <button class="btn btn-secondary" *ngIf="mostrarDescargar==true" (click)="exportAsXLSX()">{{ 'Menu.excel' | translate }}<i class="fas fa-cloud-download-alt"></i></button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'ViewVisitProfile.th1' | translate }}</th>
                            <th>{{ 'ViewVisits.codCol' | translate }}</th>
                            <th>{{ 'ViewVisitProfile.th2' | translate }}</th>
                            <th>{{ 'ViewVisitProfile.th3' | translate }}</th>
                            <th>{{ 'ViewVisitProfile.th4' | translate }}</th>
                            <th>{{ 'ViewVisitProfile.th5' | translate }}</th>
                            <th>{{ 'ViewVisitProfile.th6' | translate }}</th>
                            <th>{{ 'ViewVisitProfile.numVisita' | translate }}</th>
                            <th>{{ 'ViewVisitProfile.th7' | translate }}</th>
                            



                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of listaVisitas">




                         <ng-template #content let-c="close" let-d="dismiss" >
                        <div class="modal-header" >
                            <h4 class="modal-title">{{ 'ViewVisitProfile.modify' | translate }} *</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >

                            
                            <div class="row">
                               
                                <div class="col-md-12">

                                    <form role="form" [formGroup]="registerForm" (ngSubmit)="registrarVisita()">
                                        <div class="form-group"  >
                                            <label>{{ 'ViewVisitProfile.th1' | translate }} </label>
                                            <input class="form-control" placeholder="Enter text" formControlName="nombre" >
                                        </div>
                                        <div class="form-group"  >
                                            <label>{{ 'ViewVisitProfile.th3' | translate }} </label>
                                            <input class="form-control" placeholder="Enter text" formControlName="numNidos" >
                                        </div>
                                        <div class="form-group"  >
                                            <label>{{ 'ViewVisitProfile.th4' | translate }} </label>
                                            <input class="form-control" placeholder="Enter text" formControlName="numNidosExito" >
                                        </div>
                                        <div class="form-group"  >
                                            <label>{{ 'ViewVisitProfile.th5' | translate }} </label>
                                            <input class="form-control" placeholder="Enter text" formControlName="numNidosOcupados" >
                                        </div>
                                        <div class="form-group"  >
                                            <label>{{ 'ViewVisitProfile.th6' | translate }} </label>
                                            <input class="form-control" placeholder="Enter text" formControlName="numNidosVacios" >
                                        </div>
                                        <div class="form-group"  >
                                            <label>{{ 'ViewVisitProfile.numVisita' | translate }} </label>
                                            <input class="form-control" placeholder="Enter text" formControlName="numVisita" >
                                        </div>




                                    </form>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <p> (*) {{ 'ViewVisitProfile.infoMsg1' | translate }}</p>


                            <button  type="button" class="btn btn-primary" [disabled]="registerForm.invalid" (click)="editaVisita(item)" (click)="c('Close click')"> {{ 'ViewVisitProfile.edit' | translate }}</button>

                            <button type="button" class="btn btn-secondary" (click)="c('Close click')"> {{ 'ColoniaModal.close' | translate }}</button>
                        </div>
                        </ng-template>



                        <ng-template #contentEliminar let-c="close" let-d="dismiss" >
                        <div class="modal-header" >
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >

                            
                            <div class="row">
                               
                                <div class="col-md-12">
                                    {{ 'ViewVisitProfile.infoMsg3' | translate }}
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')" (click)="eliminaVisita(item)"> {{ 'ViewVisitProfile.yes' | translate }}</button>

                            <button type="button" class="btn btn-secondary" (click)="c('Close click')"> {{ 'ViewVisitProfile.no' | translate }}</button>
                        </div>
                        </ng-template>





                            <td>{{item.colonia.nombre}}</td>
                            <td>{{item.colonia.id}}</td>
                            <td>{{item.fecha}}</td>
                            <td>{{item.numNidos}}</td>
                            <td>{{item.numNidosExito}}</td>
                            <td>{{item.numNidosOcupados}}</td>
                            <td>{{item.numNidosVacios}}</td>
                            <td>{{item.numVisita}}</td>

                            
                            
                            <td *ngIf="usuario==item.usuario">
                                <button class="transparentButton" (click)="editaVisitaModal(item, content)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="transparentButton" (click)="eliminaVisitaModal(contentEliminar)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>


                            </td>
                            <td *ngIf="usuario!=item.usuario"> {{ 'ViewVisitProfile.noAction' | translate }}</td>



                        </tr>

                        </tbody>
                    </table>
                </div>
                 <div *ngIf="totalPages>0">
                    <ngb-pagination [collectionSize]="totalPages" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="pageChanged($event)">
                    </ngb-pagination>
        </div>
        <div class="col-sm-12">
            <div *ngIf="totalPages<=0 && listaVisitas.length<=0" style="text-align: center">
                {{ 'ViewVisitProfile.noData' | translate }}
            </div>
        </div>
           </div>
          
        </div>
        <div class="col-sm-12" *ngIf="showCol==false">
           
            <div class="card">
                <div class="card-header">{{ 'ViewVisits.terrVisits' | translate }} <button class="btn btn-secondary" (click)="exportTerrAsXLSX()">{{ 'Menu.excel' | translate }}<i class="fas fa-cloud-download-alt"></i></button></div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'ViewVisitProfileTerr.name' | translate }}</th>
                            <th>{{ 'ViewVisits.codTerr' | translate }}</th>
                            <th>{{ 'ViewVisitProfileTerr.th2' | translate }}</th>
                            <th>{{ 'ViewVisitProfileTerr.th3' | translate }}</th>
                            <th>{{ 'ViewVisitProfileTerr.th4' | translate }}</th>
                            <th>{{ 'ViewVisitProfileTerr.th5' | translate }}</th>
                            <th>{{ 'ViewVisitProfileTerr.th6' | translate }}</th>
                            <th>{{ 'ViewVisitProfileTerr.th7' | translate }}</th>
                            <th>{{ 'ViewVisitProfileTerr.th8' | translate }}</th>
                            



                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of listaVisitasTerr">




                         <ng-template #content let-c="close" let-d="dismiss" >
                        <div class="modal-header" >
                            <h4 class="modal-title">{{ 'ViewVisitProfile.modify' | translate }} *</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >

                            
                            <div class="row">
                               
                                <div class="col-md-12">
                                <p>{{ 'ViewVisitProfileTerr.infoMsg1' | translate }}</p>
                                <agm-map [latitude]="latitude" [longitude]="longitude" style="height: 300px" (mapClick)="placeMarker($event)">
                                  <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
                                </agm-map>

                                <form  role="form" [formGroup]="registerFormTerr" (ngSubmit)="registrarVisita()">
                                     <div class="form-group">
                                    <label>{{ 'ViewVisitProfileTerr.th7' | translate }} *</label>
                                    <select class="form-control"  formControlName="observacion"   id="observacion" (change)="selectedOb=true">
                                      <option *ngFor="let ob of listaObservaciones" value="{{ob.id}}" id="{{ob.id}}">{{ob.tipo}}</option>
                                    </select>
                                </div>
                                </form>
                                <p>* {{ 'ViewVisitProfileTerr.infoMsg2' | translate }}</p>
                               
                                                   
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <p> (*) {{ 'ViewVisitProfile.infoMsg1' | translate }}</p>


                            <button  type="button" class="btn btn-primary" [disabled]="selectedOb==false" (click)="editaVisitaTerr(item)" (click)="c('Close click')"> {{ 'ViewVisitProfile.edit' | translate }}</button>

                            <button type="button" class="btn btn-secondary" (click)="c('Close click')"> {{ 'ColoniaModal.close' | translate }}</button>
                        </div>
                        </ng-template>



                        <ng-template #contentEliminar let-c="close" let-d="dismiss" >
                        <div class="modal-header" >
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >

                            
                            <div class="row">
                               
                                <div class="col-md-12">
                                    {{ 'ViewVisitProfile.infoMsg3' | translate }}
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')" (click)="eliminaVisitaTerr(item)"> {{ 'ViewVisitProfile.yes' | translate }}</button>

                            <button type="button" class="btn btn-secondary" (click)="c('Close click')"> {{ 'ViewVisitProfile.no' | translate }}</button>
                        </div>
                        </ng-template>




                            <td>{{item.territorio.nombre}}</td>
                            <td>{{item.territorio.id}}</td>
                            <td>{{item.fecha}}</td>
                            <td>{{item.hora}}</td>
                            <td>{{item.huso}}</td>
                            <td>{{item.lat}}</td>
                            <td>{{item.lon}}</td>
                            <td>{{item.observaciones.tipo}}</td>

                            
                            
                            <td >
                                <button class="transparentButton" (click)="editaVisitaModalTerr(item.observaciones.tipo,item.lat, item.lon, content)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="transparentButton" (click)="eliminaVisitaModalTerr(contentEliminar)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>


                            </td>
                           



                        </tr>

                        </tbody>
                    </table>
                </div>
        <div *ngIf="totalPagesTerr>0">
                    <ngb-pagination [collectionSize]="totalPages" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="pageChangedTerr($event)">
                    </ngb-pagination>
        </div>
        <div class="col-sm-12">
            <div *ngIf="totalPagesTerr<=0 && listaVisitasTerr.length<=0" style="text-align: center">
                {{ 'ViewVisitProfile.noData' | translate }}
            </div>
        </div>

           </div>
          
        </div>
       

    </div>




