<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        
         <div class="nested-menu" style="margin-top:15%" *ngIf="showCol">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fas fa-dove"></i>&nbsp;
                <span>{{ 'Sidebar.col' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/registerCol']">
                            <i class="fas fa-folder-plus"></i>&nbsp;
                            <span>{{ 'Sidebar.register' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/viewCol']">
                            <i class="fas fa-th-list"></i>&nbsp;
                            <span>{{ 'Sidebar.view' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/viewCloseCol']">
                            <i class="fas fa-map-marked"></i>&nbsp;
                            <span>{{ 'Sidebar.viewClose' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/statistics']">
                            <i class="fas fa-chart-bar"></i>&nbsp;
                            <span>{{ 'Sidebar.statistics' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/statisticsNests']">
                            <i class="fas fa-chart-line"></i>&nbsp;
                            <span>{{ 'Sidebar.statsNests' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" style="margin-top:15%" *ngIf="showTerr">
            <a class="list-group-item" (click)="addExpandClass('terr')">
                <i class="fas fa-crow"></i>&nbsp;
                <span>{{ 'Sidebar.terr' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'terr'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/registerTerr']">
                            <i class="fas fa-folder-plus"></i>&nbsp;
                            <span>{{ 'Sidebar.registerTerr' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/viewTerr']">
                            <i class="fas fa-th-list"></i>&nbsp;
                            <span>{{ 'Sidebar.viewTerr' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/viewCloseTerr']">
                            <i class="fas fa-map-marked"></i>&nbsp;
                            <span>{{ 'Sidebar.viewCloseTerr' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/statisticsTerr']">
                            <i class="fas fa-chart-bar"></i>&nbsp;
                            <span>{{ 'Sidebar.statistics' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/statisticsObsv']">
                            <i class="fas fa-chart-line"></i>&nbsp;
                            <span>{{ 'Sidebar.statsObsv' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('visits')">
                <i class="fas fa-list"></i>&nbsp;
                <span>{{ 'Sidebar.visits' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'visits'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/registerVisit']">
                           <i class="fas fa-folder-plus"></i>&nbsp;
                            <span>{{ 'Sidebar.registerVisit' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/viewVisits']">
                            <i class="fas fa-address-card"></i>&nbsp;
                            <span>{{ 'Sidebar.myVisits' | translate }}</span>
                        </a>
                    </li>                </ul>
            </li>
        </div>
       <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('general')">
                <i class="fas fa-chart-pie"></i>&nbsp;
                <span>{{ 'Sidebar.general' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'general'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/generalCol']">
                           <i class="fas fa-dove"></i>&nbsp;
                            <span>{{ 'Sidebar.generalCol' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/generalTerr']">
                            <i class="fab fa-earlybirds"></i>&nbsp;
                            <span>{{ 'Sidebar.generalTerr' | translate }}</span>
                        </a>
                    </li>                </ul>
            </li>
        </div>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Header.language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('gal')">
                                {{ 'Galego' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('cat')">
                                {{ 'Català' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ek')">
                                {{ 'Euskera' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Español' | translate }}
                            </a>
                        </li>
                       
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{userName}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ userId }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ userEmail }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Header.logout' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    
</nav>
