				<p></p><p></p>
				<fieldset class="form-group">
                    <label>Fecha</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Numero de nidos</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Numero de nidos ocupados</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Numero nidos vacios</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Numero de nidos exito</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Otras especies</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Coordenadas</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>Completo?</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>

                <h4>Selecciona fotos que quieras subir</h4>
                 <fieldset class="form-group">
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>

                <button class="btn-primary">Enviar</button>