  <p style="margin-top:60px;"></p>
<ngx-alerts></ngx-alerts>
<div class="card" >

    <div class="card-header" style="background-color: #A9A9A9">
        {{ 'CensoMunicipio.infoMsg1' | translate }}
    </div>
    <div class="card-body" style="background-color: #A9A9A9">
        
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'RegisterCol.ccaa' | translate }}</label>
                    <select class="form-control" (change)="recuperaProvincia()" id="selectCCAA" >
                    	<option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                        <option *ngFor="let ccaa of listaCCAA" value="{{ccaa.DEN_COM}}" id="{{ccaa.ID_COM}}">{{ccaa.DEN_COM}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'RegisterCol.prov' | translate }}</label>
                    <select class="form-control"  (change)="recuperaMunicipio()" id="selectProvincia" >
                    	<option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                      	<option *ngFor="let prov of listaProv" value="{{prov.DEN_PROV}}" id="{{prov.ID_PROV}}">{{prov.DEN_PROV}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'RegisterCol.mun' | translate }}*</label>
                    <select class="form-control" id="selectMunicipio"  >
                    	<option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
                        <option *ngFor="let mun of listaMun" value="{{mun.DEN_POB}}" id="{{mun.ID_POB}}">{{mun.DEN_POB}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
	            <div class="form-group">
	                    <label>{{ 'RegisterCol.temp' | translate }}*</label>
	                    <select class="form-control" id="temporada">
	                        <option selected value="all" id="all">{{ 'GeneralTerr.all' | translate }}</option>
	                        <option *ngFor="let temp of listaTemporadas" value="{{temp.anno}}" id="{{temp.id}}">{{temp.anno}}</option>
	                    </select>

	                </div>
            </div>
	   
        </div>
        <div class="row">
        	<div class="col-sm-12">
        		<button class="btn btn-secondary" (click)="buscarCenso()">{{ 'GeneralTerr.apply' | translate }}</button>
        	</div>
        </div>
    </div>
    
    <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '14px'}"></ngx-loading>

    <div  *ngIf="noData==true" class="row">
    	<div class="col-sm-12" style="text-align: center">
    		<h4>{{ 'CensoMunicipio.infoMsg3' | translate }}</h4>
    	</div>
    	<div class="col-sm-12" style="text-align: center">
    		<button class="btn btn-primary" (click)="nuevoCenso()">{{ 'CensoMunicipio.create' | translate }}</button>
    	</div>
    </div>

    <div *ngIf="showCenso==true">
    	<h4>{{ 'CensoMunicipio.infoMsg4' | translate }}</h4>
    		<div class="row" >
    			
    			<div class="col-sm-6">
    				<h5>{{ 'CensoMunicipio.colAv' | translate }}</h5>
	    			<p  *ngFor="let coloniaD of listaColDisponibles">
	    				{{coloniaD.nombre}} 
	    					<i class="fas fa-arrow-right" (click)="asignar(coloniaD)"></i>
	    			</p>
    			</div>
    			<div class="col-sm-6" >
    				<h5>{{ 'CensoMunicipio.colAs' | translate }}</h5>
	    			<p *ngFor="let colonia of listaColAsignadas">
	    			<i class="fas fa-arrow-left" (click)="desasignar(colonia)"></i>
	    				{{colonia.nombre}}

	    			</p>
    			</div>
    			<div class="col-sm-12">
    				<button class="btn btn-primary" (click)="editar()">{{ 'CensoMunicipio.save' | translate }}</button>
    			</div>
    		</div>

    </div>

</div>